name: iOS CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Show Xcode version
        run: xcodebuild -version

      - name: Resolve SPM
        run: xcodebuild -resolvePackageDependencies -project TestTaskBoosteight.xcodeproj -scheme TestTaskBoosteight

      - name: Build & Test
        run: |
          set -o pipefail
          xcodebuild test \
            -project TestTaskBoosteight.xcodeproj \
            -scheme TestTaskBoosteight \
            -destination "platform=iOS Simulator,name=iPhone 16,OS=latest" \
            -configuration Debug \
            CODE_SIGNING_ALLOWED=NO \
            | xcpretty
