name: iOS CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4

      - name: Select Xcode 16.4
        run: sudo xcode-select -s /Applications/Xcode_16.4.app

      - name: Resolve SPM
        run: xcodebuild -resolvePackageDependencies -project TestTaskBoosteight.xcodeproj -scheme TestTaskBoosteight

      - name: Build & Test (with xcresult)
        run: |
          set -o pipefail
          xcodebuild test \
            -project TestTaskBoosteight.xcodeproj \
            -scheme TestTaskBoosteight \
            -destination "platform=iOS Simulator,name=iPhone 16,OS=latest" \
            -configuration Debug \
            -resultBundlePath TestResults.xcresult \
            CODE_SIGNING_ALLOWED=NO

      - name: Upload xcresult
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: TestResults-xcresult
          path: TestResults.xcresult
